/**************/
/*** LAYOUT ***/
/**************/

/* Feed container */
#tf_instagram {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tf_instagram:after{
    content: "";
    display: table;
    clear: both;
}

/*********************/
/*** STYLE OPTIONS ***/
/*********************/
#tf_instagram.tfi_fixed_height{
    overflow: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tf_instagram #tfi_images{
    width: 100%;
    float: left;
    line-height: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Items */
#tf_instagram #tfi_images .tfi_item{
    display: -moz-inline-stack;
    display: inline-block;
    float: left;
    vertical-align: top;
    zoom: 1;
    *display: inline;

    max-height: 1000px;
    padding: inherit !important;
    margin: 0 !important;
    text-decoration: none;
    opacity: 1;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Transition items in */
#tf_instagram #tfi_images .tfi_item.tfi_transition{
    opacity: 0;
    max-height: 0;
}

/* Cols */
#tf_instagram.tfi_col_1 #tfi_images .tfi_item{ width: 100%; }
#tf_instagram.tfi_col_2 #tfi_images .tfi_item{ width: 50%; }
#tf_instagram.tfi_col_3 #tfi_images .tfi_item{ width: 33.33%; }
#tf_instagram.tfi_col_4 #tfi_images .tfi_item{ width: 25%; }
#tf_instagram.tfi_col_5 #tfi_images .tfi_item{ width: 20%; }
#tf_instagram.tfi_col_6 #tfi_images .tfi_item{ width: 16.66%; }
#tf_instagram.tfi_col_7 #tfi_images .tfi_item{ width: 14.28%; }
#tf_instagram.tfi_col_8 #tfi_images .tfi_item{ width: 12.5%; }
#tf_instagram.tfi_col_9 #tfi_images .tfi_item{ width: 11.11%; }
#tf_instagram.tfi_col_10 #tfi_images .tfi_item{ width: 10%; }

/* Disable mobile layout */
#tf_instagram.tfi_col_1.tfi_disable_mobile #tfi_images .tfi_item{ width: 100%; }
#tf_instagram.tfi_col_2.tfi_disable_mobile #tfi_images .tfi_item{ width: 50%; }
#tf_instagram.tfi_col_3.tfi_disable_mobile #tfi_images .tfi_item{ width: 33.33%; }
#tf_instagram.tfi_col_4.tfi_disable_mobile #tfi_images .tfi_item{ width: 25%; }
#tf_instagram.tfi_col_5.tfi_disable_mobile #tfi_images .tfi_item{ width: 20%; }
#tf_instagram.tfi_col_6.tfi_disable_mobile #tfi_images .tfi_item{ width: 16.66%; }
#tf_instagram.tfi_col_7.tfi_disable_mobile #tfi_images .tfi_item{ width: 14.28%; }
#tf_instagram.tfi_col_8.tfi_disable_mobile #tfi_images .tfi_item{ width: 12.5%; }
#tf_instagram.tfi_col_9.tfi_disable_mobile #tfi_images .tfi_item{ width: 11.11%; }
#tf_instagram.tfi_col_10.tfi_disable_mobile #tfi_images .tfi_item{ width: 10%; }

/* Photos */
#tf_instagram .tfi_photo_wrap{
    position: relative;
}
#tf_instagram .tfi_photo{
    display: block;
    text-decoration: none;
}
#tf_instagram .tfi_photo img{
    width: 100%;
    height: auto;
}
#tf_instagram .tfi_no_js img{
    display: none;
}
#tf_instagram a,
#tf_instagram a:hover,
#tf_instagram a:focus,
#tf_instagram a:active{
    outline: none;
}
#tf_instagram img{
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    opacity: 1 !important;
}
#tf_instagram .tfi_link{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    padding: 10px 0;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 1.1;
}
#tf_instagram .tfi_link a{
    padding: 0 6px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    line-height: 1.1;

    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
#tf_instagram .tfi_link .tfi_lightbox_link{
    padding-bottom: 5px;
}
#tf_instagram .tfi_link a:hover,
#tf_instagram .tfi_link a:focus{
    text-decoration: underline;
}
#tf_instagram .tfi_photo_wrap:hover .tfi_link,
#tf_instagram .tfi_photo_wrap:focus .tfi_link{
    display: block;
}

/* Videos */
#tf_instagram svg:not(:root).svg-inline--fa {
    height: 1em;
    display: inline-block;
}

#tf_instagram .tfi_type_video .tfi_playbtn,
#tf_instagram .tfi_type_carousel .tfi_playbtn,
.tfi_type_carousel .fa-clone,
#tf_instagram .tfi_type_carousel .svg-inline--fa.fa-play,
#tf_instagram .tfi_type_video .svg-inline--fa.fa-play{
    display: block !important;
    position: absolute;
    z-index: 1;

    color: #fff;
    color: rgba(255,255,255,0.9);
    font-style: normal !important;
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
}
#tf_instagram .tfi_type_video .tfi_playbtn,
#tf_instagram .tfi_type_carousel .tfi_playbtn {
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -19px;
    padding: 0;
    font-size: 48px;
}
#tf_instagram .tfi_type_carousel .fa-clone{
    right: 12px;
    top: 12px;
    font-size: 24px;
    text-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.tfi_type_carousel svg.fa-clone,
#tf_instagram .tfi_type_video .svg-inline--fa.fa-play,
#tf_instagram .tfi_type_carousel .svg-inline--fa.fa-play{
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(0,0,0,.4) );
    filter: drop-shadow( 0px 0px 2px rgba(0,0,0,.4) );
}

/* Loader */
#tf_instagram .tfi_loader{
    width: 20px;
    height: 20px;

    position: relative;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);

    border-radius: 100%;
    -webkit-animation: tfi-sk-scaleout 1.0s infinite ease-in-out;
    animation: tfi-sk-scaleout 1.0s infinite ease-in-out;
}
#tf_instagram br {
    display: none;
}
#tfi_load p {
    display: inline;
    padding: 0;
    margin: 0;
}
/* Loader in button */
#tf_instagram #tfi_load .tfi_loader{
    position: absolute;
    margin-top: -11px;
    background-color: #fff;
    opacity: 1;
}
@-webkit-keyframes tfi-sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes tfi-sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          -ms-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}

#tf_instagram .fa-spin,
#tfi_lightbox .fa-spin{
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

#tf_instagram .fa-pulse,
#tfi_lightbox .fa-pulse{
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
/* Screen reader */
.tfi-screenreader{text-indent: -9999px !important;display: block !important;width: 0 !important;height: 0 !important;line-height: 0 !important;text-align: left !important; }

/* HEADER */
#tf_instagram .tf_instagram_header{
    float: left;
    clear: both;
    margin: 0 0 15px 0;
    padding: 0;
    line-height: 1.2;
    width: 100%;
}
#tf_instagram .tf_instagram_header a{
    float: left;
    display: block;
    /*width: 100%;*/
    min-width: 100%\9;
    text-decoration: none;
    transition: color 0.5s ease;
}
/** Medium Header */
/* Only use medium & large headers on devices above 480px */
@media all and (min-width: 480px){
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_img img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text h3 {
        font-size: 20px;
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text .tfi_bio_info,
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text .tfi_bio{
        font-size: 14px;
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text h3,
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text .tfi_bio_info,
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text .tfi_bio{
        margin-left: 95px !important;
        line-height: 1.4
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text h3{
        margin-right: -85px !important;
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text .tfi_bio_info{
        margin-top: 4px !important;
    }
    #tf_instagram .tf_instagram_header.tfi_medium .tfi_header_text.tfi_no_bio h3{
        padding-top: 20px !important;
    }
    /** Large Header */
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_img img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text h3 {
        font-size: 28px;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text .tfi_bio_info,
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text .tfi_bio{
        font-size: 16px;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text h3,
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text .tfi_bio_info,
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text .tfi_bio{
        margin-left: 140px !important;
        line-height: 1.5;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text h3{
        margin-right: -120px !important;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text .tfi_bio_info{
        margin-top: 12px !important;
    }
    #tf_instagram .tf_instagram_header.tfi_large .tfi_header_text.tfi_no_bio h3{
        padding-top: 32px !important;
    }
}

/* Header profile pic */
#tf_instagram .tf_instagram_header .tfi_header_img{
    float: left;
    position: relative;
    width: 50px;
    margin: 0 0 0 -100% !important;
    overflow: hidden;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
#tf_instagram .tf_instagram_header .tfi_header_img img{
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;

    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
/* Profile pic hover */
/* Profile pic hover */
#tf_instagram .tf_instagram_header .tfi_header_img_hover{
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.75);
}

#tf_instagram .tf_instagram_header .tfi_header_img_hover .tfi_new_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    font-size: 24px;
}
#tf_instagram .tf_instagram_header .tfi_header_img_hover i {
    overflow: hidden;
    background: url('../img/small-logo.png') no-repeat 0 0;
}
#tf_instagram .tf_instagram_header .tfi_header_img_hover{
    z-index: 2;
    transition: opacity 0.4s ease-in-out;
}
#tf_instagram .tf_instagram_header .tfi_fade_in{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
#tf_instagram .tf_instagram_header .tfi_header_img_hover{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.75);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    border-radius: 40px;
    transition: opacity 0.2s;
}
/* Fade the Instagram icon in when hovering on the header */
#tf_instagram .tf_instagram_header a:hover .tfi_header_img_hover,
#tf_instagram .tf_instagram_header a:focus .tfi_header_img_hover{
    opacity: 1;
}
/* Header text */
#tf_instagram .tf_instagram_header .tfi_header_text{
    float: left;
    width: 100%;
    padding-top: 5px;
}
#tf_instagram .tf_instagram_header a{
    text-decoration: none;
}
#tf_instagram .tf_instagram_header .tfi_header_text .tfi_bio,
#tf_instagram .tf_instagram_header .tfi_header_text h3{
    float: left;
    clear: both;
    width: auto;
    margin: 0 0 0 60px !important;
    padding: 0 !important;
}
#tf_instagram .tf_instagram_header h3{
    font-size: 16px;
    line-height: 1.3;
}
#tf_instagram .tf_instagram_header p{
    font-size: 13px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}
#tf_instagram p:empty { display: none; }
#tf_instagram .tf_instagram_header .tfi_header_text img.emoji{
    margin-right: 3px !important;
}

/* No bio */
#tf_instagram .tf_instagram_header .tfi_header_text.tfi_no_bio h3{
    padding-top: 9px !important;
}
#tf_instagram .tf_instagram_header .tfi_header_text.tfi_no_bio .tfi_bio_info{
    clear: both;
}


/* Buttons */
#tf_instagram #tfi_load{
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}
#tf_instagram #tfi_load .fa-spinner{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -7px;
    font-size: 15px;
}
#tf_instagram #tfi_load{
    opacity: 1;
    transition: all 0.5s ease-in;
}
#tf_instagram .tfi_load_btn .tfi_btn_text, #tf_instagram .tfi_load_btn .tfi_loader{
    opacity: 1;
    transition: all 0.1s ease-in;
}
#tf_instagram .tfi_hidden{
    opacity: 0 !important;
}
#tf_instagram #tfi_load .tfi_load_btn,
#tf_instagram .tfi_follow_btn a{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;

    padding: 7px 14px;
    margin: 5px auto 0 auto;
    background: #333;
    color: #eee;
    border: none;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.5;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#tf_instagram #tfi_load .tfi_load_btn {
    position: relative;
}
/* Follow button */
#tf_instagram .tfi_follow_btn{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    text-align: center;
}
#tf_instagram .tfi_follow_btn.tfi_top{
    display: block;
    margin-bottom: 5px;
}
#tf_instagram .tfi_follow_btn a{
    background: #408bd1;
    color: #fff;
}
#tf_instagram .tfi_follow_btn a,
#tf_instagram .tfi_follow_btn a,
#tf_instagram #tfi_load .tfi_load_btn{
    transition: all 0.1s ease-in;
}
/* Hover state for default colors */
#tf_instagram #tfi_load .tfi_load_btn:hover{
    outline: none;
    box-shadow: inset 0 0 20px 20px rgba(255,255,255,0.25);
}
#tf_instagram .tfi_follow_btn a:hover,
#tf_instagram .tfi_follow_btn a:focus{
    outline: none;
    box-shadow: inset 0 0 10px 20px #359dff;
}
/* If a custom color is applied then just use opacity for the hover effect */
#tf_instagram .tfi_follow_btn.tfi_custom a:hover,
#tf_instagram .tfi_follow_btn.tfi_custom a:focus,
#tf_instagram #tfi_load .tfi_load_btn.tfi_custom:hover{
    box-shadow: inset 0 0 20px 20px rgba(255,255,255,0.15);
}
/* Active state */
#tf_instagram .tfi_follow_btn a:active,
#tf_instagram #tfi_load .tfi_load_btn:active{
    box-shadow: inset 0 0 10px 20px rgba(0,0,0,0.3);
}

#tf_instagram .tfi_follow_btn .fa,
#tf_instagram .tfi_follow_btn svg{
    margin-bottom: -1px;
    margin-right: 7px;
    font-size: 15px;
}
#tf_instagram .tfi_follow_btn svg{
    vertical-align: -.125em;
}
#tf_instagram #tfi_load .tfi_follow_btn{
    margin-left: 5px;
}

/* Error messages */
#tf_instagram .tf_instagram_error{
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

/* Mod only error msgs */
#tfi_mod_error{
    display: none;
    border: 1px solid #ddd;
    background: #eee;
    color: #333;
    margin: 10px 0 0;
    padding: 10px 15px;
    font-size: 13px;
    text-align: center;
    clear: both;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#tfi_mod_error p{
    padding: 5px 0 !important;
    margin: 0 !important;
    line-height: 1.3 !important;
}
#tfi_mod_error ol,
#tfi_mod_error ul{
    padding: 5px 0 5px 20px !important;
    margin: 0 !important;
}
#tfi_mod_error li{
    padding: 1px 0 !important;
    margin: 0 !important;
}
#tfi_mod_error span{
    font-size: 12px;
}

/* Medium */
#tf_instagram.tfi_medium .tfi_playbtn,
#tf_instagram.tfi_medium .tfi_photo_wrap .svg-inline--fa.fa-play{
    margin-top: -12px;
    margin-left: -9px;
    font-size: 23px;
}
#tf_instagram.tfi_medium .tfi_type_carousel .tfi_photo_wrap .fa-clone{
    right: 8px;
    top: 8px;
    font-size: 18px;
}
/* Small */
#tf_instagram.tfi_small .tfi_playbtn,
#tf_instagram.tfi_small .tfi_photo_wrap .svg-inline--fa.fa-play{
    margin-top: -9px;
    margin-left: -7px;
    font-size: 18px;
}
#tf_instagram.tfi_small .tfi_type_carousel .tfi_photo_wrap .fa-clone{
    right: 5px;
    top: 5px;
    font-size: 12px;
}

/* Media queries */
@media all and (max-width: 640px){
    /* Make 3-6 cols into 2 col */
    #tf_instagram.tfi_col_3 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_4 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_5 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_6 #tfi_images .tfi_item{
        width: 50%;
    }
    /* Make 7-10 cols into 4 col */
    #tf_instagram.tfi_col_7 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_8 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_9 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_10 #tfi_images .tfi_item{
        width: 25%;
    }
    /* On mobile make the min-width 100% */
    #tf_instagram.tfi_width_resp{
        width: 100% !important;
    }
}
@media all and (max-width: 480px){
    /* Make all cols into 1 col */
    #tf_instagram.tfi_col_3 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_4 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_5 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_6 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_7 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_8 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_9 #tfi_images .tfi_item,
    #tf_instagram.tfi_col_10 #tfi_images .tfi_item{
        width: 100%;
    }
}

/* NO JS */
#tf_instagram.tfi_no_js #tfi_images .tfi_item .tfi_photo_wrap{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
#tf_instagram.tfi_no_js #tfi_images .tfi_item .tfi_photo_wrap:before {
    content: "";
    display: block;
    padding-top: 100%;
    z-index: -300;
}
#tf_instagram.tfi_no_js #tfi_images .tfi_item .tfi_photo {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#tf_instagram.tfi_no_js #tfi_images .tfi_item.tfi_transition {
    opacity: 1;
    max-height: 640px;
}
#tf_instagram.tfi_no_js .tfi_photo img,
#tf_instagram.tfi_no_js .tfi_load_btn{
    display: none;
}
#tf_instagram #tfi_images .tfi_js_load_disabled .tfi_imgLiquid_ready.tfi_photo {
    padding-bottom: 0 !important;
}
